<div class="d-flex flex-column h-100">

    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <h6 class="text-white mb-3">CUSTOMER SERVICE</h6>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">HELP & CONTACT</a></li>
                        <li><a href="#">DELIVERY INFORMATION</a></li>
                        <li><a href="#">RETURNS</a></li>
                        <li><a href="#">PAYMENT OPTIONS</a></li>
                        <li><a href="#">TRACK ORDER</a></li>
                        <li><a href="#">OFFER & CONTEST DETAILS</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <h6 class="text-white mb-3">ABOUT US</h6>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">CAREERS</a></li>
                        <li><a href="#">FIND A STORE</a></li>
                        <li><a href="#">BLOG</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <h6 class="text-white mb-3">Sign up to receive exclusive offers and news</h6>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                    <p class="small text-muted">FOLLOW US ON</p>
                    <div><i class="fab fa-twitter-square"></i></div>
                </div>
            </div>
        </div>
    </footer>
</div>