.filter {
    border: 1px solid grey; 
    padding: 4px; 
    margin:18px; 
    width: 210px;
}

.filter-text {
    padding-left: 6px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filter-header {
    font-size: medium;
}

