.main {
    background: lightgray;
    height: 640px;
    margin: 0;
    padding: 6% 10%;
}
.container {
    padding: 6% 2%;
    height: 480px;
    background: white;
}
.getInTouch, .sendMessage {
    float: left;
    padding: 26px;
    margin: 0;
    width: 50%;
}
.getInTouch p{
    font-size: 1rem;
}
.contact-heading {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para {
    font-size: 1rem;
    margin-left: 6px;
}
.para-row {
    margin: 25px 1px;
}
.text-row {
    margin: 24px 1px;
}