<div class="main">
    <div class="container">
        <div class="getInTouch">
            <div class="contact-heading">
                GET IN TOUCH
            </div>
            <div>
                <div class="para-row">
                    <i class="pi pi-compass" style="font-size: 2rem; padding-right: 2px;vertical-align: middle;"></i>
                    <span class="para">Bagpara, Kona, Howrah-711114, West Bengal</span>
                </div>
                <div class="para-row">
                    <i class="pi pi-phone" style="font-size: 2rem; padding-right: 2px;vertical-align: middle;"></i>
                    <span class="para">+91 7548773998</span>
                </div>
                <div class="para-row">
                    <i class="pi pi-mobile" style="font-size: 2rem; padding-right: 2px;vertical-align: middle;"></i>
                    <span class="para">jwellery@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="sendMessage">
            <div class="contact-heading">
                SEND MESSAGE
            </div>
          
            <div style="margin: 15px 1px;">
                <div class="text-row" style="display: inline; float: left;">
                    <input type="text" pInputText placeholder="Name">
                </div>
                <div class="text-row" style="display: inline; float: left; margin-left: 28px;">
                    <input type="text" pInputText placeholder="Email" name="toEmail" [(ngModel)] = "body">
                </div>
                <div class="text-row">
                    <textarea pInputTextarea placeholder="Comment" cols="53"></textarea>
                </div>
                <div class="text-row" >
                    <button pButton type="button" (click)="onClick()"label="Primary" class="p-button-outlined" style="border: 2px solid black;color: black;"></button>
                </div>
            </div>
      
        </div>
    </div>
</div>


