<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="container"> -->
    <!-- <div class="row">
        <div class="col"> -->
            <!-- <app-head></app-head> -->
        <!-- </div>
    </div> -->

    <!-- <div class="row">
        <div class="col"> -->
            <!-- <app-shopping-cart></app-shopping-cart> -->
        <!-- </div>
    </div> -->
    <!-- <div class="row">
        <div class="col"> -->
            <!-- <app-foot></app-foot> -->
        <!-- </div>
    </div> -->
<!-- </div> -->