<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    HOME
  </a>
  <a class="nav-link" routerLink="shoping-cart" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PRODUCTS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ALL JEWELLERY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-sublink" href="#">EARRINGS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">GIFT CARD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">PENDANTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">FINGER RINGS</a>
                </li>
                
              </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">MANGALSUTRA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NECKWEAR</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NOSE PIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NECKWEAR SET</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">BANGLE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">BRACELETS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">PENDANT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">GOLD COINS</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GOLD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-sublink" href="#">EARRINGS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">JHUMKA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">STUD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">HOOP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">DROP</a>
                </li>
              </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">PENDANT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">DAILY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">PARTY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">TRADITIONAL</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">WORK WEAR</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">RING</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">PARTY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">WORKWEAR</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DIAMOND
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-sublink" href="#">EARRINGS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">GIFT CARD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">PENDANTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-sublink" href="#">FINGER RINGS</a>
                </li>
                
              </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">MANGALSUTRA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NECKWEAR</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NOSE PIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">NECKWEAR SET</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">BANGLE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">BRACELETS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">PENDANT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-sublink" href="#">GOLD COINS</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          <!--  /.container  -->


        </div>
        
      </li>
      <a class="nav-link" routerLink="upload" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        UPLOAD IMAGE
         </a>
      
      <a class="nav-link" routerLink="contact" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       CONTACT US
        </a>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a class="nav-link" routerLink="login" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      LOGIN
    </a>

    <a class="nav-link" routerLink="register" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      NEW USER
    </a>
  </div>


</nav>